@page "/About"

<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<meta data-intl-tel-input-cdn-path="intlTelInput/"><head>









    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​health, ​Top tips from the experts, ​Seasona​l Fruits &amp;amp; Veg">
    <meta name="description" content="">
    <title>Home</title>
    
    
    
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website"></head>
  <body class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-header" id="sec-fbc5"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
       
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
        
                 
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-center u-clearfix u-palette-2-base u-section-2" id="carousel_13ae">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-custom-font u-font-montserrat u-text u-text-default u-text-1"> Top tips from the experts</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-file-icon u-icon u-text-white u-icon-1"><img src="images/481637-533a50d2.png" alt=""></span>
                <h5 class="u-custom-font u-font-montserrat u-text u-text-2"> Base your meals on higher fibre starchy carbohydrates</h5>
                <p class="u-text u-text-3">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-file-icon u-icon u-text-white u-icon-2"><img src="images/2088082-8f74b52b.png" alt=""></span>
                <h5 class="u-custom-font u-font-montserrat u-text u-text-4"> Eat lots of fruit and veg</h5>
                <p class="u-text u-text-5">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-file-icon u-icon u-text-white u-icon-3"><img src="images/3050587-c0e24d5b.png" alt=""></span>
                <h5 class="u-custom-font u-font-montserrat u-text u-text-6"> Eat more fish, including a portion of oily fish</h5>
                <p class="u-text u-text-7">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-4"><span class="u-file-icon u-icon u-text-white u-icon-4"><img src="images/5543191-af3d6bb5.png" alt=""></span>
                <h5 class="u-custom-font u-font-montserrat u-text u-text-8"> Cut down on saturated fat and sugar</h5>
                <p class="u-text u-text-9">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-5"><span class="u-file-icon u-icon u-text-white u-icon-5"><img src="images/2224088-fde9f035.png" alt=""></span>
                <h5 class="u-custom-font u-font-montserrat u-text u-text-10"> Eat less salt: no more than 6g a day for adults</h5>
                <p class="u-text u-text-11">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-6"><span class="u-file-icon u-icon u-text-white u-icon-6"><img src="images/688553-fd578e43.png" alt=""></span>
                <h5 class="u-custom-font u-font-montserrat u-text u-text-12"> Get active and be a healthy weight</h5>
                <p class="u-text u-text-13">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-height-50vw-sm u-section-3" id="carousel_6bff">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-align-center u-text u-text-palette-2-base u-text-1"> Seasona​l Fruits &amp; Veg</h2>
        <p class="u-align-center u-text u-text-2">Organic food is food produced by methods that comply with the standards of organic farming.</p>
        <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-1">
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="images/1.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-1">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="images/2.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-2">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="images/3.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-3">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="images/8.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-4">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="images/5.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-5">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="images/83.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-6">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
</body></html>