@page "/"

<PageTitle>NutritionApp</PageTitle>

<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-Black">
                            <!-- Page heading-->
                            <h1 class="mb-5">Nutrition tracking application</h1>
                            
                                <!-- Email address input-->
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control form-control-lg" id="Search-box" type="text" placeholder="Search Foods..." data-sb-validations="required,text" />
                                        
                                    </div>
                                    <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                                </div>
                        
                </div>
            </div>
        </div>
    </div>
    
</header>

