@page "/Search"
@using Nutrition.Model;
@using Nutrition.Client;
@inject NutritionClient NutritionClient;

<PageTitle>NutritionApp</PageTitle>

<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-Black">
                            <!-- Page heading-->
                            <h2 class="mb-5">Nutrition tracking application</h2>
                            
                                <!-- Email address input-->
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control form-control-lg" id="Search-box" type="text" @bind='detail' placeholder="Search Foods..."/>
                                        
                                    </div>
                                    <div class="col-auto"><button class="btn btn-primary" @onclick="search">Submit</button></div>
                                </div>
                        
                @if (nutriResponse != null) {
                <h3>Nutrition Information of @detail</h3>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Calories</th>
                                <th>Glycemic Index</th>
                                <th>TotalWeight</th>
                            </tr>
                        </thead>
                        <tbody>
                          
                                <tr>
                                    <td>@nutriResponse.calories</td>
                            <td>@nutriResponse.glycemicIndex</td>
                            <td>@nutriResponse.totalWeight</td>
                                </tr>
                            
                        </tbody>
                    </table>
                </div>
            } 

         
              
       </div>
            </div>
        </div>
    </div>
    
</header>

@code {

    private NutritionDetails? nutriResponse = null;
    protected override async Task OnInitializedAsync(){
        nutriResponse = await NutritionClient.GetNutri(null);
        detail="1 large apple";
    }

    private string? detail;

    protected async Task search(){
        if(detail!=null){
            nutriResponse = await NutritionClient.GetNutri(detail);
        }
    }

}

