@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
            <div class="container">

    <main>
        <div class="top-row px-4">
            <a href="https://rapidapi.com/edamam/api/edamam-nutrition-analysis" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body

             <footer class="footer bg-blawhite small text-center text-black-50">
                <div class="container px-4 px-lg-5">Copyright &copy; Your Website 2023
                </div>
             </footer>
        </article>
    </main>
</div>
</div>
